@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main-customer{
    max-width: 1000px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    background-color: rgba(8, 8, 81, 0.833);
}
.cover{
    max-width: 1000px;
    margin-top: 20px;
    margin:auto;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53354a;
    min-height: 90px;
}
.header img{
    height: 56px;
    padding-left: 10px;
}
.header-nav-links{
    width: 100%;
    text-align: end;
}
.header-nav-links a{
    padding: 16px;
    color: #fff;
    text-decoration: none;
}
.memorial-day{
    text-align: center;
    background-image: url("https://efsjjil.stripocdn.email/content/guids/CABINET_bf1b69ed06ddafda6c2df87b97da4cff/images/64171620732677380.png");
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; 
}
.memorial-day-content{
    max-width: 700px;
    margin: auto;
}
.memorial-day-content span{
    max-width: 550px;
    display: block;
    margin: auto;
    font-size: 24px;
}
.stars{
    display: flex;
    text-align: center;
    max-width: 630px;
    margin: auto;
    padding-top: 30px;
}
.stars img{
    height: 34px;
    width: 228px;
}
.stars p{
    padding-left: 20px;
    font-weight: 700;
    letter-spacing: 20px;
}
.memorial-day h1{
    margin-bottom: 0;
    font-size: 72px;
}
.memorial-txt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.memorial-txt img{
    width: 222px;
    height: 89px;
}
.memorial-txt h1{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -5px;
}
.stream-btn a{
 display: inline-block;
 min-width: 200px;
 height: 40px;
 color: #fff;
 text-decoration: none;
 line-height: 40px;
 font-weight: 500;
 text-transform: uppercase;
 font-size: 20px;
 background-color: #e84545;
}
.stream-btn{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px ;
}
.stream-img img{
 position: relative;
 top: 6px;
 right: 5px;
}
.films img{
 width: 228px;
 height: 34px;
 display: block;
 margin: auto;
}
.films{
    background-image: url("https://efsjjil.stripocdn.email/content/guids/CABINET_bf1b69ed06ddafda6c2df87b97da4cff/images/82601620732689610.png");
    min-height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65%;
    color: #fff;
}
.film-content {
 max-width: 700px;
 margin: auto;
}
.film-content h1{
    font-size: 36px;
    text-align: center;
}
.film{
 display: flex;
 margin-top: 40px;
}
.film-1 h2{
    color: #e84545;
}
.film-1 span{
    font-weight: 600;
    font-size: 16px;
}
.film-1 img{
    float: right;
    width: 190px;
    margin-top: 16px;
    height: 180px;
}
.stream-film{
    display: inline-block;
    min-width: 190px;
    height: 42px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    line-height: 42px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #e84545;
}
.film-1 p{
    padding-right: 16px;
}
.film-2{
    text-align: end;
    margin-top: 40px;
}
.film-2 h2{
    color: #e84545;
}
.film-2 span{
    font-weight: 600;
    font-size: 16px;
    float: inline-end;
}
.film-2 img{
    float: left;
    width: 190px;
    margin-top: 16px;
    height: 180px;
}
.film-2 p{
    padding-left: 16px;
}
.foot{
    min-height: 400px;
    background-color: #53354a;
    margin: 0 auto;
    text-align: center;
}
.foot img{
    height: 48px;
  padding-top: 30px;
  margin-bottom: 20px;
}
.foot-content{
    max-width: 600px;
    margin: auto;
    color: #fff;
}
.foot-content h1{
    margin-bottom: 0;
}
.media img{
    display: inline;
    flex-direction: row;
    height: 56px;
    margin-top: 0;
}
.links a{
 display: inline;
 padding: 30px;
 text-decoration: none;
 color: #fff;
}
.foot-content p{
    font-size: 12px;
    margin-top: 30px;
}